In [142]:
#import the modules
import os
import pandas as pd

In [143]:
# I will have to go through file by file to check the data with .head() and .info() to get an overview of the data structure

In [144]:
#As almost all headers are different from each others, 
#I have to define a common header that I will apply to all the data frames, otherwise the matrix will be multiplied
common_header=["Dateiname", "Pixel_1", "Pixel_2", "Pixel_3", "Pixel_4", "Pixel_5", "Pixel_6", "Pixel_7", "Pixel_8", "Pixel_9", "Pixel_10", "Pixel_11", "Pixel_12", "Pixel_13", "Pixel_14", "Pixel_15", "Pixel_16", "Pixel_17", "Pixel_18", "Pixel_19", "Pixel_20", "Pixel_21", "Pixel_22", "Pixel_23", "Pixel_24", "Pixel_25", "Pixel_26", "Pixel_27", "Pixel_28","Pixel_29", "Pixel_30", "Pixel_31", "Pixel_32", "Pixel_33", "Pixel_34", "Pixel_35", "Pixel_36", "Pixel_37", "Pixel_38", "Pixel_39", "Pixel_40", "Pixel_41", "Pixel_42", "Pixel_43", "Pixel_44", "Pixel_45", "Pixel_46", "Pixel_47", "Pixel_48", "Pixel_49", "Pixel_50", "Pixel_51", "Pixel_52", "Pixel_53", "Pixel_54", "Pixel_55", "Pixel_56", "Pixel_57", "Pixel_58", "Pixel_59", "Pixel_60", "Pixel_61", "Pixel_62", "Pixel_63", "Pixel_64", "Pixel_65", "Pixel_66", "Pixel_67", "Pixel_68", "Pixel_69", "Pixel_70", "Pixel_71", "Pixel_72", "Pixel_73", "Pixel_74", "Pixel_75", "Pixel_76", "Pixel_77", "Pixel_78", "Pixel_79", "Pixel_80", "Pixel_81", "Pixel_82", "Pixel_83", "Pixel_84", "Pixel_85", "Pixel_86", "Pixel_87", "Pixel_88", "Pixel_89", "Pixel_90", "Pixel_91", "Pixel_92", "Pixel_93", "Pixel_94", "Pixel_95", "Pixel_96", "Pixel_97", "Pixel_98", "Pixel_99", "Pixel_100"]

In [145]:
df1 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\aufgabe_bilder_fabian.chanton.csv", names=common_header)

In [146]:
df2 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\Bilderliste_corina_fuchs.csv")

In [147]:
#Have a loot at the structure of the first csv (fabian chanton), this step I have to do file by file
df1.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,+-1-fabian.chanton.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,o-7-fabian.chanton.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,+-7-fabian.chanton.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-6-fabian.chanton.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,x-6-fabian.chanton.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [148]:
df2.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-corina.fuchs,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,--5-corina.fuchs,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,o-6-corina.fuchs,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,0,1,1,1
3,x-6-corina.fuchs,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-10-corina.fuchs,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [149]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 101 entries, Dateiname to Pixel_100
dtypes: int64(100), object(1)
memory usage: 39.6+ KB

In [150]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 101 entries, Dateiname to Pixel_100
dtypes: int64(100), object(1)
memory usage: 39.6+ KB

In [151]:
df3raw = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\binary_images-marin.hartmann.csv")

In [152]:
df3raw.head()

                 Dateiname                                         Pixelwerte
0   #-1-marin.hartmann.png  1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,...
1  #-10-marin.hartmann.png  1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
2   #-2-marin.hartmann.png  1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
3   #-3-marin.hartmann.png  1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
4   #-4-marin.hartmann.png  1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...

In [153]:
#As all the information is stored in the 2nd column, data needs to get split
split_data = df3raw['Pixelwerte'].str.split(',',expand=True)

In [154]:
split_data.head()

  0  1  2  3  4  5  6  7  8  9   ... 90 91 92 93 94 95 96 97 98 99
0  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
2  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
3  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1

[5 rows x 100 columns]

In [155]:
# Concatenate the split data columns with the original DataFrame
df3 = pd.concat([df3raw, split_data], axis=1)

In [156]:
# Drop the original 'Pixelwerte' as I've now split it into separate columns
df3.drop(columns=['Pixelwerte'], inplace=True)

In [157]:
df3.head()

,Dateiname,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,#-1-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-10-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-2-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-3-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-4-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [158]:
#Replace the header
df3.columns = common_header

In [159]:
df3.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-10-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-2-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-3-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-4-marin.hartmann.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [160]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [161]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
145  x-5-marin.hartmann.png       1       1       1       1       1       1
146  x-6-marin.hartmann.png       1       1       1       1       1       1
147  x-7-marin.hartmann.png       1       1       1       1       1       1
148  x-8-marin.hartmann.png       1       1       1       1       1       1
149  x-9-marin.hartmann.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
145       1       1       1  ...        1        1        1        1        1
146       1       1       1  ...        1        1        1        1        1
147       1       1       1  ...        1        1        1        1        1
148       1       1       1  ...        1        1        1        1        1
149       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
145        1        1        1        1         1
146        1        1        1        1         1
147        1        1        1        1         1
148        1        1        1        1         1
149        1        1        1        1         1

[150 rows x 101 columns]

In [162]:
df4 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\data-niculin.fuerst.csv")

In [163]:
df4.head()

,Filename,px0,px1,px2,px3,px4,px5,px6,px7,px8,...,px90,px91,px92,px93,px94,px95,px96,px97,px98,px99
0,x-4-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,x-9-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,o-5-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,--4-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,--2-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [164]:
#Once again replace the header
df4.columns = common_header

In [165]:
df4.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,x-4-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,x-9-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,o-5-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,--4-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,--2-niculin.fuerst.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [166]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)

In [167]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
195  o-2-niculin.fuerst.png       1       1       1       1       1       1
196  o-7-niculin.fuerst.png       1       1       1       1       1       1
197  o-9-niculin.fuerst.png       1       1       1       1       1       1
198  --6-niculin.fuerst.png       1       1       1       1       1       1
199  +-6-niculin.fuerst.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
195       1       1       1  ...        1        1        1        1        1
196       1       1       1  ...        1        1        1        1        1
197       1       1       1  ...        1        1        1        1        1
198       1       1       1  ...        1        1        1        1        1
199       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
195        1        1        1        1         1
196        1        1        1        1         1
197        1        1        1        1         1
198        1        1        1        1         1
199        1        1        1        1         1

[200 rows x 101 columns]

In [168]:
df5 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\denis.shevchenko.csv", names=common_header)

In [169]:
df5.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-denis.shevchenko.png,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
1,#-10-denis.shevchenko.png,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
2,#-2-denis.shevchenko.png,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
3,#-3-denis.shevchenko.png,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
4,#-4-denis.shevchenko.png,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True

In [170]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 101 entries, Dateiname to Pixel_100
dtypes: bool(100), object(1)
memory usage: 5.4+ KB

In [171]:
# Get a list of column names to convert (starting from the 2nd column)
columns_to_convert = df5.columns[1:]

In [172]:
# Convert boolean values to int64 (1 for True, 0 for False)
df5[columns_to_convert] = df5[columns_to_convert].astype(int)

In [173]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5], axis=0, ignore_index=True)

In [174]:
print(combined_df)

                    Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0      +-1-fabian.chanton.png       1       1       1       1       1       1
1      o-7-fabian.chanton.png       1       1       1       1       1       1
2      +-7-fabian.chanton.png       1       1       1       1       1       1
3      #-6-fabian.chanton.png       1       1       1       1       1       1
4      x-6-fabian.chanton.png       1       1       1       1       1       1
..                        ...     ...     ...     ...     ...     ...     ...
245  x-5-denis.shevchenko.png       1       1       1       1       1       1
246  x-6-denis.shevchenko.png       1       1       1       1       1       1
247  x-7-denis.shevchenko.png       1       1       1       1       1       1
248  x-8-denis.shevchenko.png       1       1       1       1       1       1
249  x-9-denis.shevchenko.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
245       1       1       1  ...        1        1        1        0        1
246       1       1       1  ...        1        1        1        0        1
247       1       1       1  ...        1        1        1        0        1
248       1       1       1  ...        1        1        1        0        1
249       1       1       1  ...        1        1        1        0        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
245        1        1        1        1         1
246        1        1        1        1         1
247        1        1        1        1         1
248        1        1        1        1         1
249        1        1        1        1         1

[250 rows x 101 columns]

In [175]:
df6 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\Export image editor (Patrick Grossauer).csv")

In [176]:
df6.head()

,image,px_1,px_2,px_3,px_4,px_5,px_6,px_7,px_8,px_9,...,px_91,px_92,px_93,px_94,px_95,px_96,px_97,px_98,px_99,px_100
0,#-1-patrick.grossauer.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-10-patrick.grossauer.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-2-patrick.grossauer.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-3-patrick.grossauer.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-4-patrick.grossauer.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [177]:
df6.columns = common_header

In [178]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6], axis=0, ignore_index=True)

In [179]:
print(combined_df)

                     Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5  \
0       +-1-fabian.chanton.png       1       1       1       1       1
1       o-7-fabian.chanton.png       1       1       1       1       1
2       +-7-fabian.chanton.png       1       1       1       1       1
3       #-6-fabian.chanton.png       1       1       1       1       1
4       x-6-fabian.chanton.png       1       1       1       1       1
..                         ...     ...     ...     ...     ...     ...
295  x-5-patrick.grossauer.png       1       1       1       1       1
296  x-6-patrick.grossauer.png       1       1       1       1       1
297  x-7-patrick.grossauer.png       1       1       1       1       1
298  x-8-patrick.grossauer.png       1       1       1       1       1
299  x-9-patrick.grossauer.png       1       1       1       1       1

    Pixel_6 Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94  \
0         1       1       1       1  ...        1        1        1        1
1         1       1       1       1  ...        1        1        1        1
2         1       1       1       1  ...        1        1        1        1
3         1       1       1       1  ...        1        1        1        1
4         1       1       1       1  ...        1        1        1        1
..      ...     ...     ...     ...  ...      ...      ...      ...      ...
295       1       1       1       1  ...        1        1        1        1
296       1       1       1       1  ...        1        1        1        1
297       1       1       1       1  ...        1        1        1        1
298       1       1       1       1  ...        1        1        1        1
299       1       1       1       1  ...        1        1        1        1

    Pixel_95 Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1        1         1
1          1        1        1        1        1         1
2          1        1        1        1        1         1
3          1        1        1        1        1         1
4          1        1        1        1        1         1
..       ...      ...      ...      ...      ...       ...
295        1        1        1        1        1         1
296        1        1        1        1        1         1
297        1        1        1        1        1         1
298        1        1        1        1        1         1
299        1        1        1        1        1         1

[300 rows x 101 columns]

In [180]:
#As I've later figured out, the header was missing, I added the common_header
df7 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\images-roman-maire.csv", names=common_header)

In [181]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7], axis=0, ignore_index=True)

In [182]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
345     +-4-roman.maire.png       1       1       1       1       0       0
346     +-3-roman.maire.png       1       1       1       1       1       1
347     #-1-roman.maire.png       1       1       1       1       1       1
348     --2-roman.maire.png       1       1       1       1       1       1
349     o-5-roman.maire.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
345       1       1       1  ...        1        1        1        1        0
346       1       1       1  ...        1        1        1        1        1
347       1       1       1  ...        1        1        1        1        1
348       1       1       1  ...        1        1        1        1        1
349       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
345        0        1        1        1         1
346        1        1        1        1         1
347        1        1        1        1         1
348        1        1        1        1         1
349        1        1        1        1         1

[350 rows x 101 columns]

In [183]:
df8 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\manuel.leopold.csv")

In [184]:
df8.head()

,Filename,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-manuel.leopold.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#-10-manuel.leopold.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,#-2-manuel.leopold.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,#-3-manuel.leopold.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,#-4-manuel.leopold.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [185]:
df8.columns = common_header

In [186]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=0, ignore_index=True)

In [187]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
395  x-5-manuel.leopold.png       0       0       0       0       0       0
396  x-6-manuel.leopold.png       0       0       0       0       0       0
397  x-7-manuel.leopold.png       0       0       0       0       0       0
398  x-8-manuel.leopold.png       0       0       0       0       0       0
399  x-9-manuel.leopold.png       0       0       0       0       0       0

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
395       0       0       0  ...        0        0        0        0        0
396       0       0       0  ...        0        0        0        0        0
397       0       0       1  ...        0        0        0        0        0
398       0       0       1  ...        0        0        0        0        0
399       0       0       0  ...        1        0        0        0        0

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
395        0        0        0        0         0
396        0        0        0        0         0
397        0        0        0        0         0
398        0        0        0        0         0
399        0        0        0        0         0

[400 rows x 101 columns]

In [188]:
df9 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\ML_Aufgabe_1_Yannick_Huber.csv")

In [189]:
df9 = df9.replace(255, 1)

In [190]:
df9.head()

,Bildname,Pixel 1,Pixel 2,Pixel 3,Pixel 4,Pixel 5,Pixel 6,Pixel 7,Pixel 8,Pixel 9,...,Pixel 91,Pixel 92,Pixel 93,Pixel 94,Pixel 95,Pixel 96,Pixel 97,Pixel 98,Pixel 99,Pixel 100
0,#-1-yannick.huber.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-10-yannick.huber.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-2-yannick.huber.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-3-yannick.huber.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-4-yannick.huber.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [191]:
df9.columns = common_header

In [192]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0, ignore_index=True)

In [193]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
445   x-5-yannick.huber.png       1       1       1       1       1       1
446   x-6-yannick.huber.png       1       1       1       1       1       1
447   x-7-yannick.huber.png       1       1       1       1       1       1
448   x-8-yannick.huber.png       1       1       1       1       1       1
449   x-9-yannick.huber.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
445       1       1       1  ...        1        1        1        1        1
446       1       1       1  ...        1        1        1        1        1
447       1       1       1  ...        1        1        1        1        1
448       1       1       1  ...        1        1        1        1        1
449       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
445        1        1        1        1         1
446        1        1        1        1         1
447        1        1        1        1         1
448        1        1        1        1         1
449        1        1        1        1         1

[450 rows x 101 columns]

In [194]:
df10 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\ML_Aufgabe1_tommaso.plebani.csv")

In [195]:
df10.head()

,Unnamed: 0,Px1,Px2,Px3,Px4,Px5,Px6,Px7,Px8,Px9,...,Px91,Px92,Px93,Px94,Px95,Px96,Px97,Px98,Px99,Px100
0,#-1-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-2-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-3-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-4-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-5-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [196]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 101 entries, Unnamed: 0 to Px100
dtypes: int64(100), object(1)
memory usage: 39.6+ KB

In [197]:
df10.columns = common_header

In [198]:
df10.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-2-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-3-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,#-4-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-5-tommaso.plebani.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [199]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], axis=0, ignore_index=True)

In [200]:
print(combined_df)

                    Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0      +-1-fabian.chanton.png       1       1       1       1       1       1
1      o-7-fabian.chanton.png       1       1       1       1       1       1
2      +-7-fabian.chanton.png       1       1       1       1       1       1
3      #-6-fabian.chanton.png       1       1       1       1       1       1
4      x-6-fabian.chanton.png       1       1       1       1       1       1
..                        ...     ...     ...     ...     ...     ...     ...
495   x-6-tommaso.plebani.png       1       1       1       1       1       1
496   x-7-tommaso.plebani.png       1       1       1       1       1       1
497   x-8-tommaso.plebani.png       1       1       1       1       1       1
498   x-9-tommaso.plebani.png       1       1       1       1       1       1
499  x-10-tommaso.plebani.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
495       1       1       1  ...        1        1        1        1        1
496       1       1       1  ...        1        1        1        1        1
497       1       1       1  ...        1        1        1        1        1
498       1       1       1  ...        1        1        1        1        1
499       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
495        1        1        1        1         1
496        1        1        1        1         1
497        1        1        1        1         1
498        1        1        1        1         1
499        1        1        1        1         1

[500 rows x 101 columns]

In [201]:
df11 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\ML_Aufgbe1_csv_Norbert_Roesch.csv",  names=common_header)

In [202]:
df11.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-0-norbert.roesch.png,1.000000,1.000000,1.000000,0.999997,0.999991,0.999997,0.999999,1.0,1.0,...,1.0,1.0,0.999999,0.999988,0.999997,1.000000,1.0,1.0,1.0,1.0
1,#-1-norbert.roesch.png,1.000000,1.000000,0.999832,0.997910,0.997989,0.998750,0.999983,1.0,1.0,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
2,#-2-norbert.roesch.png,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
3,#-3-norbert.roesch.png,0.999999,0.999975,0.999993,0.999996,0.999990,1.000000,1.000000,1.0,1.0,...,1.0,1.0,1.000000,0.999997,0.999990,0.999999,1.0,1.0,1.0,1.0
4,#-4-norbert.roesch.png,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0

In [203]:
#As I have realized that Norberts CSV is not in binary form, I decided (after consultation in the forum,) to drop the set of Norbert
#as I cannot make a predicition for his set

In [204]:
print(combined_df)

                    Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0      +-1-fabian.chanton.png       1       1       1       1       1       1
1      o-7-fabian.chanton.png       1       1       1       1       1       1
2      +-7-fabian.chanton.png       1       1       1       1       1       1
3      #-6-fabian.chanton.png       1       1       1       1       1       1
4      x-6-fabian.chanton.png       1       1       1       1       1       1
..                        ...     ...     ...     ...     ...     ...     ...
495   x-6-tommaso.plebani.png       1       1       1       1       1       1
496   x-7-tommaso.plebani.png       1       1       1       1       1       1
497   x-8-tommaso.plebani.png       1       1       1       1       1       1
498   x-9-tommaso.plebani.png       1       1       1       1       1       1
499  x-10-tommaso.plebani.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
495       1       1       1  ...        1        1        1        1        1
496       1       1       1  ...        1        1        1        1        1
497       1       1       1  ...        1        1        1        1        1
498       1       1       1  ...        1        1        1        1        1
499       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
495        1        1        1        1         1
496        1        1        1        1         1
497        1        1        1        1         1
498        1        1        1        1         1
499        1        1        1        1         1

[500 rows x 101 columns]

In [205]:
df12 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\output_karolina.sadomska.csv")

In [206]:
df12.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,image_0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,image_1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,image_2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,image_3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,image_4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [207]:
#Karolina's CSV is lacking the row titles aka the image description without this information, we don't now what the ros are corresponding to
#I therefore decided to drop her data as well :(
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], axis=0, ignore_index=True)

In [208]:
print(combined_df)

                    Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0      +-1-fabian.chanton.png       1       1       1       1       1       1
1      o-7-fabian.chanton.png       1       1       1       1       1       1
2      +-7-fabian.chanton.png       1       1       1       1       1       1
3      #-6-fabian.chanton.png       1       1       1       1       1       1
4      x-6-fabian.chanton.png       1       1       1       1       1       1
..                        ...     ...     ...     ...     ...     ...     ...
495   x-6-tommaso.plebani.png       1       1       1       1       1       1
496   x-7-tommaso.plebani.png       1       1       1       1       1       1
497   x-8-tommaso.plebani.png       1       1       1       1       1       1
498   x-9-tommaso.plebani.png       1       1       1       1       1       1
499  x-10-tommaso.plebani.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
495       1       1       1  ...        1        1        1        1        1
496       1       1       1  ...        1        1        1        1        1
497       1       1       1  ...        1        1        1        1        1
498       1       1       1  ...        1        1        1        1        1
499       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
495        1        1        1        1         1
496        1        1        1        1         1
497        1        1        1        1         1
498        1        1        1        1         1
499        1        1        1        1         1

[500 rows x 101 columns]

In [209]:
df13 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\roberto.liviero.csv")

In [210]:
df13.head()

,file_name,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,#-1-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-2-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-3-roberto.liviero.png,1,1,1,0,0,1,1,1,1,...,1,1,1,1,1,1,0,0,1,1
3,#-4-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-5-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [211]:
df13.columns = common_header

In [212]:
df13.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#-2-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-3-roberto.liviero.png,1,1,1,0,0,1,1,1,1,...,1,1,1,1,1,1,0,0,1,1
3,#-4-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,#-5-roberto.liviero.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [213]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, 
                         df8, df9, df10, df13], axis=0, ignore_index=True)

In [214]:
print(combined_df)

                    Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0      +-1-fabian.chanton.png       1       1       1       1       1       1
1      o-7-fabian.chanton.png       1       1       1       1       1       1
2      +-7-fabian.chanton.png       1       1       1       1       1       1
3      #-6-fabian.chanton.png       1       1       1       1       1       1
4      x-6-fabian.chanton.png       1       1       1       1       1       1
..                        ...     ...     ...     ...     ...     ...     ...
545   x-6-roberto.liviero.png       0       1       1       1       1       1
546   x-7-roberto.liviero.png       0       1       1       1       1       1
547   x-8-roberto.liviero.png       0       0       1       1       1       1
548   x-9-roberto.liviero.png       0       1       1       1       1       1
549  x-10-roberto.liviero.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
545       1       1       1  ...        1        1        1        1        1
546       1       1       1  ...        1        1        1        1        1
547       1       1       1  ...        1        0        1        1        1
548       1       1       1  ...        1        1        1        1        1
549       1       1       0  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
545        1        1        1        1         0
546        1        1        1        1         0
547        1        1        1        0         0
548        1        1        1        0         0
549        1        1        1        1         0

[550 rows x 101 columns]

In [215]:
df14 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\roman.fischer1.csv")

In [216]:
#A look at Romans dataframe shows that the header is not correct and that his numbers are floating and not integer, I will have to adjust them
df14.head()

,#-0-roman.fischer1.png,1.0,1.0.1,1.0.2,1.0.3,0.0,1.0.4,1.0.5,1.0.6,1.0.7,...,1.0.52,1.0.53,1.0.54,1.0.55,1.0.56,1.0.57,1.0.58,1.0.59,1.0.60,1.0.61
0,#-1-roman.fischer1.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
1,#-2-roman.fischer1.png,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,#-3-roman.fischer1.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,#-4-roman.fischer1.png,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
4,#-5-roman.fischer1.png,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [217]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Columns: 101 entries, #-0-roman.fischer1.png to 1.0.61
dtypes: float64(100), object(1)
memory usage: 38.8+ KB

In [218]:
# Custom function to convert float to integer
def convert_to_integer(x):
    if isinstance(x, float) and x.is_integer():
        return int(x)
    else:
        return x

# Applying the custom function to the dataframe
df14 = df14.apply(lambda x: x.map(convert_to_integer))

print(df14)

    #-0-roman.fischer1.png  1.0  1.0.1  1.0.2  1.0.3  0.0  1.0.4  1.0.5  \
0   #-1-roman.fischer1.png    1      1      1      1    1      1      1
1   #-2-roman.fischer1.png    1      1      1      0    1      0      1
2   #-3-roman.fischer1.png    1      1      1      1    1      1      1
3   #-4-roman.fischer1.png    1      1      1      1    1      1      0
4   #-5-roman.fischer1.png    1      1      1      1    1      1      0
5   #-6-roman.fischer1.png    1      1      1      1    1      1      1
6   #-7-roman.fischer1.png    1      1      1      1    1      1      1
7   #-8-roman.fischer1.png    1      1      1      1    1      1      0
8   #-9-roman.fischer1.png    1      1      1      1    1      1      1
9   +-0-roman.fischer1.png    1      1      1      1    1      1      0
10  +-1-roman.fischer1.png    1      1      1      1    1      1      0
11  +-2-roman.fischer1.png    1      1      1      1    0      1      1
12  +-3-roman.fischer1.png    1      1      1      1    1      0      1
13  +-4-roman.fischer1.png    1      1      1      1    0      0      1
14  +-5-roman.fischer1.png    1      1      1      1    1      0      1
15  +-6-roman.fischer1.png    1      1      1      1    0      1      1
16  +-7-roman.fischer1.png    1      1      1      1    1      1      0
17  +-8-roman.fischer1.png    1      1      1      1    0      1      1
18  +-9-roman.fischer1.png    1      1      1      1    0      1      1
19  --0-roman.fischer1.png    1      1      1      1    1      1      1
20  --1-roman.fischer1.png    1      1      1      1    1      1      1
21  --2-roman.fischer1.png    1      1      1      1    1      1      1
22  --3-roman.fischer1.png    1      1      1      1    1      1      1
23  --4-roman.fischer1.png    1      1      1      1    1      1      1
24  --5-roman.fischer1.png    1      1      1      1    1      1      1
25  --6-roman.fischer1.png    1      1      1      1    1      1      1
26  --7-roman.fischer1.png    1      1      1      1    1      1      1
27  --8-roman.fischer1.png    1      1      1      1    1      1      1
28  --9-roman.fischer1.png    1      1      1      1    1      1      1
29  o-0-roman.fischer1.png    1      1      1      0    0      0      0
30  o-1-roman.fischer1.png    1      1      0      0    0      1      1
31  o-2-roman.fischer1.png    1      1      1      0    0      0      0
32  o-3-roman.fischer1.png    1      1      0      0    0      0      0
33  o-4-roman.fischer1.png    1      1      1      0    0      0      1
34  o-5-roman.fischer1.png    1      1      1      1    0      0      0
35  o-6-roman.fischer1.png    1      1      1      1    1      1      1
36  o-7-roman.fischer1.png    1      1      1      0    0      0      0
37  o-8-roman.fischer1.png    1      1      1      1    0      0      0
38  o-9-roman.fischer1.png    1      1      1      1    0      0      0
39  x-0-roman.fischer1.png    0      1      1      1    1      1      1
40  x-1-roman.fischer1.png    0      1      1      1    1      1      1
41  x-2-roman.fischer1.png    1      1      0      1    1      1      1
42  x-3-roman.fischer1.png    1      0      0      1    1      1      1
43  x-4-roman.fischer1.png    1      0      1      1    1      1      1
44  x-5-roman.fischer1.png    1      0      1      1    1      1      1
45  x-6-roman.fischer1.png    0      0      1      1    1      1      1
46  x-7-roman.fischer1.png    1      0      0      1    1      1      1
47  x-8-roman.fischer1.png    1      0      1      1    1      1      1
48  x-9-roman.fischer1.png    1      1      1      1    1      1      1

    1.0.6  1.0.7  ...  1.0.52  1.0.53  1.0.54  1.0.55  1.0.56  1.0.57  1.0.58  \
0       0      1  ...       1       1       1       1       1       0       1
1       1      1  ...       1       1       1       1       1       1       1
2       0      1  ...       1       1       1       1       1       1       1
3       1      1  ...       1       1       0       0       1       1       1
4       1      1  ...       1       1       1       1       1       1       1
5       0      1  ...       1       1       1       1       1       1       1
6       0      1  ...       1       1       1       1       1       1       1
7       0      1  ...       1       1       1       1       1       1       1
8       1      0  ...       1       1       1       1       1       1       1
9       1      1  ...       1       1       1       1       1       1       1
10      0      1  ...       1       1       1       1       1       1       1
11      1      1  ...       1       1       1       1       1       1       1
12      1      1  ...       1       1       1       1       1       1       1
13      1      1  ...       1       1       1       1       1       1       1
14      1      1  ...       1       1       1       1       1       1       1
15      1      1  ...       1       1       1       1       1       1       1
16      1      1  ...       1       1       1       1       1       1       1
17      1      1  ...       1       1       1       1       1       1       1
18      1      1  ...       1       1       1       1       1       1       1
19      1      1  ...       1       1       1       1       1       1       1
20      1      1  ...       1       1       1       1       1       1       1
21      1      1  ...       1       1       1       1       1       1       1
22      1      1  ...       1       1       1       1       1       1       1
23      1      1  ...       1       1       1       1       1       1       1
24      1      1  ...       1       1       1       1       1       1       1
25      1      1  ...       1       1       1       1       1       1       1
26      1      1  ...       1       1       1       1       1       1       1
27      1      1  ...       1       1       1       1       1       1       1
28      1      1  ...       1       1       1       1       1       1       1
29      0      0  ...       0       0       0       0       0       0       1
30      1      1  ...       1       0       0       0       0       0       1
31      1      1  ...       1       1       0       0       0       0       1
32      1      1  ...       1       0       0       0       0       0       0
33      1      1  ...       1       0       0       0       0       1       1
34      1      1  ...       1       0       0       0       0       0       0
35      1      1  ...       1       1       0       0       0       0       0
36      1      1  ...       1       1       0       0       0       0       1
37      0      0  ...       1       1       0       0       0       0       0
38      0      1  ...       1       0       0       0       0       0       1
39      1      1  ...       1       1       0       0       1       1       1
40      1      1  ...       0       1       1       1       1       1       1
41      1      1  ...       0       1       1       1       1       1       1
42      1      1  ...       0       1       1       1       1       1       1
43      1      0  ...       1       1       1       1       1       1       1
44      1      1  ...       0       1       1       1       1       1       1
45      1      1  ...       0       1       1       1       1       1       1
46      1      1  ...       0       1       1       1       1       1       1
47      1      1  ...       0       1       1       1       1       1       1
48      1      1  ...       0       1       1       1       1       1       1

    1.0.59  1.0.60  1.0.61
0        1       1       1
1        1       1       1
2        1       1       1
3        1       1       1
4        1       1       1
5        1       1       1
6        1       1       1
7        1       1       1
8        1       1       1
9        1       1       1
10       1       1       1
11       1       1       1
12       1       1       1
13       1       1       1
14       1       1       1
15       1       1       1
16       1       1       1
17       1       1       1
18       1       1       1
19       1       1       1
20       1       1       1
21       1       1       1
22       1       1       1
23       1       1       1
24       1       1       1
25       1       1       1
26       1       1       1
27       1       1       1
28       1       1       1
29       1       1       1
30       1       1       1
31       1       1       1
32       1       1       1
33       1       1       1
34       1       1       1
35       1       1       1
36       1       1       1
37       1       1       1
38       1       1       1
39       1       1       1
40       1       1       1
41       1       1       1
42       1       0       0
43       1       0       0
44       1       1       0
45       1       1       1
46       1       1       1
47       1       1       0
48       0       0       1

[49 rows x 101 columns]

In [219]:
#Adjust header
df14.columns = common_header

In [220]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, 
                         df8, df9, df10, df11, df13, df14], axis=0, ignore_index=True)

In [221]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
644  x-5-roman.fischer1.png       1       0       1       1       1       1
645  x-6-roman.fischer1.png       0       0       1       1       1       1
646  x-7-roman.fischer1.png       1       0       0       1       1       1
647  x-8-roman.fischer1.png       1       0       1       1       1       1
648  x-9-roman.fischer1.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
644       1       1       1  ...        0        1        1        1        1
645       1       1       1  ...        0        1        1        1        1
646       1       1       1  ...        0        1        1        1        1
647       1       1       1  ...        0        1        1        1        1
648       1       1       1  ...        0        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
644        1        1        1        1         0
645        1        1        1        1         1
646        1        1        1        1         1
647        1        1        1        1         0
648        1        1        0        0         1

[649 rows x 101 columns]

In [222]:
df15 = pd.read_csv(r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\CSVs\zihlmann.lukas.csv")

In [223]:
df14.head()

,Dateiname,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_91,Pixel_92,Pixel_93,Pixel_94,Pixel_95,Pixel_96,Pixel_97,Pixel_98,Pixel_99,Pixel_100
0,#-1-roman.fischer1.png,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,1,1,1
1,#-2-roman.fischer1.png,1,1,1,0,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,#-3-roman.fischer1.png,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
3,#-4-roman.fischer1.png,1,1,1,1,1,1,0,1,1,...,1,1,0,0,1,1,1,1,1,1
4,#-5-roman.fischer1.png,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1

In [224]:
df15.columns = common_header

In [225]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Columns: 101 entries, Dateiname to Pixel_100
dtypes: bool(100), object(1)
memory usage: 5.3+ KB

In [226]:
# Convert boolean values to int64 (1 for True, 0 for False)
df15[columns_to_convert] = df15[columns_to_convert].astype(int)

In [227]:
#Combine data frames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, 
                         df8, df9, df10, df13, df14, df15], axis=0, ignore_index=True)

In [228]:
print(combined_df)

                  Dateiname Pixel_1 Pixel_2 Pixel_3 Pixel_4 Pixel_5 Pixel_6  \
0    +-1-fabian.chanton.png       1       1       1       1       1       1
1    o-7-fabian.chanton.png       1       1       1       1       1       1
2    +-7-fabian.chanton.png       1       1       1       1       1       1
3    #-6-fabian.chanton.png       1       1       1       1       1       1
4    x-6-fabian.chanton.png       1       1       1       1       1       1
..                      ...     ...     ...     ...     ...     ...     ...
643  x-5-lukas.zihlmann.png       1       1       1       1       1       1
644  x-6-lukas.zihlmann.png       1       1       1       1       1       1
645  x-7-lukas.zihlmann.png       1       1       1       1       1       1
646  x-8-lukas.zihlmann.png       1       1       1       1       1       1
647  x-9-lukas.zihlmann.png       1       1       1       1       1       1

    Pixel_7 Pixel_8 Pixel_9  ... Pixel_91 Pixel_92 Pixel_93 Pixel_94 Pixel_95  \
0         1       1       1  ...        1        1        1        1        1
1         1       1       1  ...        1        1        1        1        1
2         1       1       1  ...        1        1        1        1        1
3         1       1       1  ...        1        1        1        1        1
4         1       1       1  ...        1        1        1        1        1
..      ...     ...     ...  ...      ...      ...      ...      ...      ...
643       1       1       1  ...        1        1        1        1        1
644       1       1       1  ...        1        1        1        1        1
645       1       1       1  ...        1        1        1        1        1
646       1       1       1  ...        1        1        1        1        1
647       1       1       1  ...        1        1        1        1        1

    Pixel_96 Pixel_97 Pixel_98 Pixel_99 Pixel_100
0          1        1        1        1         1
1          1        1        1        1         1
2          1        1        1        1         1
3          1        1        1        1         1
4          1        1        1        1         1
..       ...      ...      ...      ...       ...
643        1        1        1        1         1
644        1        1        1        1         1
645        1        1        1        1         1
646        1        1        1        1         1
647        1        1        1        1         1

[648 rows x 101 columns]

In [229]:
output_csv_path = r"C:\Users\yanni\OneDrive\Desktop\CAS_Machine_Learning\Nachbearbeitung_Data_Cleansing\combined.csv"

In [230]:
# Use the to_csv() method to save the DataFrame as a CSV file
combined_df.to_csv(output_csv_path, index=False)